<div class="online-accounts form-group">
  <h4 class="group-title">{i18n{settings.online-accounts.title}}</h4>
  <p class="instructions">{i18n{settings.online-accounts.instructions}}</p>

  <div class="providers">

    <!-- copy this provider and change the slug, the JS will handle logged in/out state automatically -->
    <div class="provider spotify">
      <img src="images/spotify.svg" alt="Spotify" title="{i18n{settings.online-accounts.spotify-login-with}}">

      <div class="info logged-out-message">
        <a href="javascript:;" class="log-in-with" data-provider="spotify">
          <span tabindex="-1">{i18n{settings.online-accounts.spotify-login-with}}</span>
        </a>
      </div>

      <div class="info logged-in-message">
        <span class="current"></span>

        <button class="logout clicks" data-provider="spotify">
          {i18n{settings.online-accounts.logout}}
        </button>
      </div>
    </div>

  </div>
</div>