<div class="local-folders form-group">
  <h4 class="group-title">{i18n{settings.local-files.title}}</h4>

  <div class="instructions">
    <p>{i18n{settings.local-files.instructions}}</p>

    <p data-modal="#folder-structure-guide-modal-content">
      <i class="fas fa-info-circle"></i>
      {i18n{settings.local-files.folder-structure-guide-opener}}
    </p>
  </div>

  <div id="folder-structure-guide-modal-content" class="modal-content-element">
    {inc{/elements/music-settings/templates/modals/folder-structure.html}}
  </div>

  <ui-listbox
    data-option-name="local_folders"
    remove-item-tooltip-message="{i18n{settings.local-files.remove-folder-tooltip-message}}">
  </ui-listbox>

  <div class="importer-message instructions">
    <p>{i18n{settings.local-files.importer-msg}}</p>
  </div>
</div>