<div class="form-group">
  <h4 class="group-title">{i18n{settings.accent-color.title}}</h4>

  <div class="swatches">
    <button title="The Worst Flavour" type="button" class="color-swatch clicks" data-color="#a174dd" style="background-color:#a174dd;"></button>
    <button title="Flamingo Jam Pink" type="button" class="color-swatch clicks" data-color="#e9219c" style="background-color:#e9219c;"></button>
    <button title="Rapper Name lil'Blue" type="button" class="color-swatch clicks" data-color="#4da3bd" style="background-color:#4da3bd;"></button>
    <button title="The Bold and the Bluetiful" type="button" class="color-swatch clicks" data-color="#3793cf" style="background-color:#3793cf;"></button>
    <button title="Cantaloupe Green" type="button" class="color-swatch clicks" data-color="#57b983" style="background-color:#57b983;"></button>
    <button title="Zergling Rush! Green" type="button" class="color-swatch clicks" data-color="#379c3f" style="background-color:#379c3f;"></button>
    <button title="Nuclear Warning Yellow" type="button" class="color-swatch clicks" data-color="#ccb118" style="background-color:#ccb118;"></button>
    <button title="At Least It's Not Brown, Orange" type="button" class="color-swatch clicks" data-color="#d45912" style="background-color:#d45912;"></button>
    <button title="Alien Invasion Red" type="button" class="color-swatch clicks" data-color="#cc4c43" style="background-color:#cc4c43;"></button>
    <button title="Soulless Grey" type="button" class="color-swatch clicks" data-color="#575757" style="background-color:#575757;"></button>
  </div>
</div>