<div class="form-group" data-sync-with-db="true">
  <h4 class="group-title">{i18n{settings.custom-css.title}}</h4>

  <div class="instructions">
    <div class="slidetoggle slim">
      <button class="label">
        <span tabindex="-1">
          <i class="warning-icon fas fa-exclamation-triangle"></i>
          {i18n{settings.custom-css.notice}}
        </span>
      </button>

      <span class="content">{i18n{settings.custom-css.instructions}}</span>
    </div>
  </div>

  <textarea class="custom-css" name="custom_css"></textarea>
</div>